﻿@using Remitano.PLC.AdminServiceSvc;
@{
    ViewBag.Title = "Quản lý admin";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<link rel="stylesheet" href="/Content/Template/css/uniform.css" />
<link rel="stylesheet" href="/Content/Template/css/select2.css" />
<script type="text/javascript" src="/Scripts/UploadFile/ajaxuploadnews.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $(function () {
        $("#txtBirthday").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true, yearRange: "1910:2045" });
    });
</script>
<script src="/ckeditor/ckeditor.js"></script>
<div id="content-header">
    <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Trang chủ</a> <a href="#" class="current">Thêm admin</a> </div>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            @using (Html.BeginForm("CreateNewAdmin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "basic_validate" }))
            {
                <form class="form-horizontal" name="basic_validate" id="basic_validate">
                    <div class="span6">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"> <i class="icon-info-sign"></i> </span>
                                <h5>Thông tin chi tiết</h5>
                            </div>
                            <div class="widget-content nopadding">

                                <div class="control-group">
                                    <label class="control-label">Tên đăng nhập</label>
                                    <div class="controls">
                                        <input type="text" class="span11" id="txtUserName" name="txtUserName" value="@ViewData["UserName"]">
                                        @*<span id="errorProjectName" style="display:none">*</span>*@
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Mật khẩu</label>
                                    <div class="controls">
                                        <input type="password" class="span11" id="txtPassword" name="txtPassword" value="@ViewData["Password"]">
                                        @*<span id="errorProjectName" style="display:none">*</span>*@
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Họ tên</label>
                                    <div class="controls">
                                        <input type="text" class="span11" id="txtFullName" name="txtFullName" value="@ViewData["FullName"]">
                                        @*<span id="errorProjectName" style="display:none">*</span>*@
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Email</label>
                                    <div class="controls">

                                        <input type="text" class="span11" id="txtEmail" name="txtEmail" value="@ViewData["Email"]">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Điện thoại</label>
                                    <div class="controls">
                                        <input type="text" class="span11" id="txtMobile" name="txtMobile" value="@ViewData["Mobile"]">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="widget-box">
                            <div class="widget-title">
                                @*<span class="icon"> <i class="icon-info-sign"></i> </span>*@

                            </div>
                            <div class="widget-content nopadding">

                                <div class="control-group">
                                    <label class="control-label">Địa chỉ</label>
                                    <div class="controls">
                                        <input type="text" class="span11" id="txtAddress" name="txtAddress" value="@ViewData["Address"]">
                                        @*<span id="errorProjectName" style="display:none">*</span>*@
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Ngày sinh</label>
                                    <div class="controls">
                                        <input type="text" class="span11" id="txtBirthday" name="txtBirthday" value="@ViewData["Birthday"]">
                                        @*<span id="errorProjectName" style="display:none">*</span>*@
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Giới tính</label>
                                    <div class="controls">
                                        <div class="control-group">

                                            <div class="controls" style="margin-top:-5px; position:absolute; margin-left:0px">
                                                <label style="display:inline">
                                                    <div class="radio" id="uniform-undefined"><span class="checked"><input value="1" type="radio" name="radioGender" id="rdMen" style="opacity: 0;"></span></div>
                                                    Nam
                                                </label>
                                                <label style="display:inline">
                                                    <div class="radio" id="uniform-undefined"><span class=""><input type="radio" value="0" name="radioGender" id="rdWomen" style="opacity: 0;"></span></div>
                                                    Nữ
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="control-group">
                                    <label class="control-label">Hình ảnh</label>
                                    <div class="controls">
                                        <input type="file" id="avatarImage" name="avatarImage" onchange="ShowImage('avatarImage','imgImageNews','divImageNews','iconDeleteIamge');" />

                                        <img id="imgImageNews" name="imgImageNews" style=" display:none; width:90px; height:90px" class="iconImage" src="@ViewData["Avatar"]" />
                                        @*<i name="iconClass" class="fa fa-times" id="iconDeleteIamge" onclick="RemoveImage(this.id,'imageNews','imgImageNews','divImageNews')" style="cursor:pointer;display:none;position: absolute;top: 0px;left: 85px;"></i>*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="span12" style="margin-left:0px">
                        <div class="widget-box">

                            <div class="form-actions">
                                <input type="submit" value="Cập nhật" onclick="return CheckValidate()" class="btn btn-success">
                            </div>
                        </div>
                        <input type="hidden" id="hdAdminID" name="hdAdminID" value="@ViewData["AdminID"]" />
                        <input type="hidden" id="hdAvatar" name="hdAvatar" value="@ViewData["Avatar"]" />
                    </div>

                </form>
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="/Scripts/System/admin.js"></script>