﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Content/Template/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/Template/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/Content/Template/css/fullcalendar.css" />
    <link rel="stylesheet" href="/Content/Template/css/matrix-style.css" />
    <link rel="stylesheet" href="/Content/Template/css/matrix-media.css" />
    <link rel="stylesheet" href="/Content/alertify.css" />
    <link href="/Content/Template/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="/Content/Template/css/jquery.gritter.css" />*@
    <link href="/Content/jquery.noty.css" rel="stylesheet" />
    <link href="/Content/noty_theme_default.css" rel="stylesheet" />
    <link href="/Content/style_dev.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <script src="/Content/Template/js/jquery.min.js"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" />
    @*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>*@
</head>
<body>
    <div id="header">
        <h1><a href="/">Smart Land</a></h1>
    </div>
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome @Session["ModName"]</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/manageadmin/updateinformationadmin"><i class="icon-user"></i>Thông tin tài khoản</a></li>
                    <li class="divider"></li>
                    <li><a href="/manageadmin/changepassword"><i class="icon-check"></i>Đổ mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a href="#" onclick="LogoutMember()"><i class="icon-key"></i>Thoát</a></li>
                </ul>
            </li>

        </ul>
    </div>

    <div id="sidebar">
        <a href="/" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li class="active"><a href="/"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
            @if ((string)Session["ModName"] == "administrator")
            {
                <li> <a href="/manage-admin"><i class="icon icon-user"></i> <span>Quản lý admin</span></a> </li>
            }
            <li> <a href="/managemember"><i class="icon icon-signal"></i> <span>Quản lý thành viên</span></a> </li>


            <li class="submenu">
                <a href="#"><i class="icon icon-th-list"></i> <span>Tin nhà đất</span> </a>
                <ul>
                    <li><a href="/categoryproperty"><i class="icon icon-th"></i> <span>Quản lý danh mục tin nhà đất</span></a></li>
                    <li><a href="/typenews"><i class="icon icon-fullscreen"></i> <span>Quản lý loại tin</span></a></li>
                    <li><a href="/formnews"><i class="icon icon-fullscreen"></i> <span>Quản lý hình thức tin</span></a></li>
                    <li><a href="/levelnews"><i class="icon icon-fullscreen"></i> <span>Quản lý level tin</span></a></li>
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li><a href="/manageproject"><i class="icon icon-fullscreen"></i> <span>Quản lý dự án</span></a></li>
                    }
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li><a href="/newsproperty"><i class="icon icon-fullscreen"></i> <span>Quản lý tin đăng</span></a></li>
                    }
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li><a href="/managebannertype"><i class="icon icon-fullscreen"></i> <span>Quản lý loại banner</span></a></li>
                    }
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li><a href="/managebanner"><i class="icon icon-fullscreen"></i> <span>Quản lý banner</span></a></li>
                    }
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li><a href="/managetags"><i class="icon icon-fullscreen"></i> <span>Quản lý tags</span></a></li>
                    }
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li><a href="/manageward"><i class="icon icon-fullscreen"></i> <span>Quản lý phường</span></a></li>
                    }
                </ul>
            </li>

            <li class="submenu">
                <a href="#"><i class="icon icon-th-list"></i> <span>Quản lý thông tin khác</span> </a>
                <ul>
                    <li> <a href="/categorynews"><i class="icon icon-inbox"></i> <span>Quản lý danh mục tin</span></a> </li>
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li> <a href="/managearticle"><i class="icon icon-inbox"></i> <span>Quản lý bài viết</span></a> </li>
                    }
                    <li><a href="/manageprice"><i class="icon icon-th"></i> <span>Quản lý giá</span></a></li>
                    <li><a href="/managesquare"><i class="icon icon-fullscreen"></i> <span>Quản lý diện tích</span></a></li>
                    <li><a href="/manageunit"><i class="icon icon-fullscreen"></i> <span>Quản lý đơn vị tính</span></a></li>
                    @*<li><a href="/levelnews"><i class="icon icon-folder-close"></i> <span>Quản lý level tin</span></a></li>*@
                    <li><a href="/managedirection"><i class="icon icon-fullscreen"></i> <span>Quản lý hướng</span></a></li>
                    <li><a href="/managehobbymember"><i class="icon icon-fullscreen"></i> <span>Danh sách yêu cầu người dùng</span></a></li>
                    <li><a href="/managequestion"><i class="icon icon-fullscreen"></i> <span>Quản lý câu hỏi</span></a></li>
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li><a href="/managetemplateurl"><i class="icon icon-fullscreen"></i> <span>Quản lý url</span></a></li>
                    }
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li><a href="/managetemplatemail"><i class="icon icon-fullscreen"></i> <span>Quản lý template mail</span></a></li>
                    }
                    @if ((string)Session["ModName"] == "administrator")
                    {
                        <li><a href="/managesentmail"><i class="icon icon-fullscreen"></i> <span>Quản lý gủi mail</span></a></li>
                    }

                </ul>
            </li>

            @*<li class="submenu">
                    <a href="#"><i class="icon icon-file"></i> <span>Quản lý thứ tự hiển thị tin</span></a>
                    <ul>
                        <li><a href="/managespecialnews">Hiển thị tin</a></li>

                    </ul>
                </li>*@
            @*<li class="submenu">
                    <a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>
                    <ul>
                        <li><a href="">Error 403</a></li>
                        <li><a href="">Error 404</a></li>
                        <li><a href="">Error 405</a></li>
                        <li><a href="">Error 500</a></li>
                    </ul>
                </li>
                <li class="content">
                    <span>Monthly Bandwidth Transfer</span>
                    <div class="progress progress-mini progress-danger active progress-striped">
                        <div style="width: 77%;" class="bar"></div>
                    </div>
                    <span class="percent">77%</span>
                    <div class="stat">21419.94 / 14000 MB</div>
                </li>
                <li class="content">
                    <span>Disk Space Usage</span>
                    <div class="progress progress-mini active progress-striped">
                        <div style="width: 87%;" class="bar"></div>
                    </div>
                    <span class="percent">87%</span>
                    <div class="stat">604.44 / 4000 MB</div>
                </li>*@
        </ul>
    </div>

    <div id="content">

        @RenderBody()
    </div>

    <div class="row-fluid">
        <div id="footer" class="span12"> 2018 &copy; Matrix Admin. Brought to you by <a href="#">BBC</a> </div>
    </div>

    <!--end-Footer-part-->

    <script src="/Content/Template/js/excanvas.min.js"></script>

    <script src="/Content/Template/js/jquery.ui.custom.js"></script>
    <script src="/Content/Template/js/bootstrap.min.js"></script>
    @*<script src="/Content/Template/js/jquery.flot.min.js"></script>*@
    @*<script src="/Content/Template/js/jquery.flot.resize.min.js"></script>*@
    <script src="/Content/Template/js/jquery.peity.min.js"></script>
    <script src="/Content/Template/js/fullcalendar.min.js"></script>
    <script src="/Content/Template/js/matrix.js"></script>
    @*<script src="/Content/Template/js/matrix.dashboard.js"></script>*@
    @*<script src="/Content/Template/js/jquery.gritter.min.js"></script>*@
    @*<script src="/Content/Template/js/matrix.interface.js"></script>*@
    @*<script src="/Content/Template/js/matrix.chat.js"></script>*@
    <script src="/Content/Template/js/jquery.validate.js"></script>
    <script src="/Content/Template/js/matrix.form_validation.js"></script>
    <script src="/Content/Template/js/jquery.wizard.js"></script>
    <script src="/Content/Template/js/jquery.uniform.js"></script>
    <script src="/Content/Template/js/select2.min.js"></script>
    <script src="/Content/Template/js/matrix.popover.js"></script>
    <script src="/Content/Template/js/jquery.dataTables.min.js"></script>
    <script src="/Content/Template/js/matrix.tables.js"></script>

    <script src="/Scripts/alertify.js"></script>
    <script src="/Scripts/masterdata.js"></script>
    <script src="/Content/Template/Scripts/login.js"></script>

    <script src="/Scripts/jquery.noty.js"></script>
    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {

            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {

                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                // else, send page to designated URL
                else {
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }
    </script>
</body>
</html>
